# Server Configuration
PORT=3000

# MongoDB Database URI (Optional: Provide MongoDB Atlas string for cloud database)
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/arshani_portfolio?retryWrites=true&w=majority
